<div class="main-content">
  <div class="section-content section-content-p30">

    <h4>Category: {{currentCategoryName}}</h4>
    <hr>

    <div class="container-fluid">
      <div class="row">

        <!-- loop pver the collection of products-->
        <div *ngFor="let tempProduct of products" class="col-md-3">

          <div class="product-box">

            <img routerLink="/products/{{tempProduct.id}}" src="{{tempProduct.imageUrl }}" class="img-responsive">


            <h1 routerLink="/products/{{tempProduct.id}}">{{tempProduct.name}}</h1>

            <div class="price">{{tempProduct.unitPrice | currency:"USD"}}</div>
            <button (click)="addToCart(tempProduct)" class="btn btn-primary btn-sm">Add to cart</button>
          </div>
        </div>

        <!-- if products empty then display this message-->
        <div *ngIf="products?.length == 0" class="alert alert-warning" role="alert">Not found any product</div>

      </div>

      <!-- begin footer -->
      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>

          <div class="col-md-6">
            <div class="row">
              <div class=" col-md-9" style="padding-left: 30%;">

                <ngb-pagination [(page)]="thePageNumber" 
                                [pageSize]="thePageSize" 
                                [collectionSize]="theTotalElements"
                                [maxSize]="5"
                                [boundaryLinks]="true"
                                (pageChange)="listProducts( )">

                </ngb-pagination>
              </div>

              <div class="col-md-3 mt-2 " style="text-align: right;">
                <span class="mr-2">Page Size</span>
                <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">
                  <option>2</option>
                  <option selected="true">5</option>
                  <option>10</option>
                  <option>20</option>
                  <option>50</option>
                </select>
              </div>

             


            </div>
          </div>

        </div>
      </div>

      <!-- end footer -->

    </div>
  </div>
</div>